div {
	margin-top : 30px;	
}

textarea {
   resize: none;
   vertical-align:top;
}

div#chat {
	margin-top: 20px;
}

div#status {
	text-align: left;
}

div#room {
	display: none;	
}

textarea#active-area {
	outline: none;
}

#users-area {
	margin-left: 10px;
	outline: none;
	vertical-align: top;
	width : 200px;	
}

#send-message {
	height: 30px;
	margin-left: 10px;
	vertical-align: top;
	width : 200px;	
}

option.owner {
	font-weight: bold;
}